@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/*  These variables for colours are probably temporary
    only using for ease of use in testing.
 */
:root {
    --off-white: #FAF9F6;
    --dark-turq: #26877F;
    --light-turq: #87D2B3; 
    --sand: #F0E5A5;
    --orange: #E9813C;
    --burnt-orange: #AB442C;
    --border-rad: 1rem;
    
}

/*  Global selector to reset properties 
    and create consistency across browsers.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
    font-family: Quicksand, 'Lato Light', sans-serif;
    margin: 2rem 5% 2rem 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    /*background-color: #26877F;*/
    border-bottom: 5px solid blue;
}

/* Nav bar styling */

header > img {
    display: block;     /* img default is 'inline-block'. Used to put it on its own line. */
    margin: 0 auto 1.5rem;
    width: 6vw;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;   /* Removes bullet point from ul */
    text-align: center; /* Aligns ul text centrally within nav element */
    background-color: var(--light-turq);
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: var(--border-rad);
}

nav li {
    flex: 1;
}

li a {
    text-decoration: none;
}

/** Section and article styling **/

section {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

article {
    flex: 1;    /* Evenly divides space between all article elements within flex element */
    border-radius: var(--border-rad);
}

article div {
    padding: 0.5rem;
}

.sub-article div p {
    padding: 0.25rem 0.25rem 0.5rem 0.25rem ;
}


/* Images embedded in the article cards */

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    width: 2rem;
    height: auto;
}

/* Class selectors */

.main-article {
    background-color: var(--light-turq);
    display: flex;
    max-height: 50vh;
}

.sub-article {
    background-color: var(--light-turq);
    min-width: 10vw;
}

article:nth-of-type(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-article img {
    max-width: 100%;
    max-height: fit-content;
    height: fit-content
    border-radius: var(--border-rad) 0 0 var(--border-rad);
}

.sub-article img {
    display: inline-block;
    width: 100%;
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    max-width: 100%;
    max-height: 25ch;
}