@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* 
    I NEED TO ADD SOME MEDIA QUERIES TO MAKE THE WEBSITE MORE RESPONSIVE
*/

/*  
These variables for colours are probably temporary
only using for ease of use in testing.
 */
:root {
    --off-white: hsl(45, 29%, 97%);
    --dark-turq: hsl(175, 56%, 34%);
    --med-turq:  hsl(155, 45%, 68%);
    --light-turq: hsl(155, 100%, 87%);
    --border-rad: 1rem;
}

/*  
Global selector to reset properties 
and create consistency across browsers.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(175, 87%, 6%);
}

body {
    background-color: var(--off-white);
    font-family: Quicksand, 'Lato Light', sans-serif;
    margin: 2rem 5% 2rem 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}   

a {
    text-decoration: none;
}

/*** header and nav content ***/

header > img {
    display: block;             /* img default is 'inline-block'. Used to put it on its own line. */
    margin: 0 auto 1.5rem;      /* top = 0, left and right = auto, bottom = 1.5rem */
    width: 6vw;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;         
    text-align: center;        
    background-color: var(--light-turq);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: var(--border-rad);
}

nav li {
    flex: 1;
}

li a {
    text-decoration: none;
    transition: ease;
}

li a:hover {
    transition-duration: 0.5s;
    background-color: var(--dark-turq);
    padding: 0.5rem;
    border-radius: var(--border-rad);
    color: var(--off-white);
}

/*** section and article content ***/

section {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

article {
    flex: 1;                                /* Evenly divides space between all article elements within flex element */
    border-radius: var(--border-rad);
    background-color: var(--light-turq);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
}

article div {
    padding: 0.5rem;
}

article:nth-of-type(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*** footer content ***/

footer {
    display: flex;
    align-items: end; /* SWITCH - flex alignment */
}

footer div {
    flex: 1;
}

footer img {
    width: 2rem;
    height: auto;
}

footer div p {
    color: var(--dark-turq);
}

.copyright {
    position: absolute;
    right: 5vw;
}

/*** main-article ***/

.main-article {
    display: flex;
    max-height: 50vh;
    overflow: hidden;  /* SWITCH - overflow */
}

/*** sub-article ***/

.sub-article {
    min-width: 10vw;
    width: clamp(20rem, calc(20rem + 2vw), 22rem); /* SWITCH - clamp */
    transition: transform 0.5s;
}

.sub-article div p {
    padding: 0.25rem 0.25rem 0.5rem 0.25rem ;
}

.sub-article:hover {
    transform: scale(1.025);
}

.main-article img {
    object-fit: cover;
    border-radius: var(--border-rad) 0 0 var(--border-rad);
    text-decoration: dashed;
}

.sub-article img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 10rem;
    border-radius: var(--border-rad) var(--border-rad) 0 0;
}
