@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/*  These variables for colours are probably temporary
    only using for ease of use in testing.
 */
:root {
    --off-white: #FAF9F6;
    --dark-turq: #26877F;
    --light-turq: #87D2B3; 
    --sand: #F0E5A5;
    --orange: #E9813C;
    --burnt-orange: #AB442C;
    --border-rad: 1rem;
}

/*  Global selector to reset properties 
    and create consistency across browsers.
 */
* {
    margin: 0;
    padding: 0;
    color: var(--burnt-orange);
}

body {
    background-color: var(--off-white);
    font-family: Quicksand, 'Lato Light', sans-serif;
    margin: 2rem 5% 2rem 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;     /* img default is 'inline-block'. Used to put it on its own line. */
    margin: 0 auto 1.5rem;
    width: 8vw;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;   /* Removes bullet point from ul */
    text-align: center; /* Aligns ul text centrally within nav element */
    background-color: var(--light-turq);
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: var(--border-rad);
}

nav li {
   /* display: flex;  /* Displays each li element inline as a block. Was INLINE-BLOCK*/ 
    flex: 1;
}

li a {
    text-decoration: none;
}

section {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

article {
    flex: 1;    /* Evenly divides space between all article elements within flex element */
    padding: 0.5rem;
    border-radius: var(--border-rad);
}

/* Images embedded in the article cards */
article > img {
    display: inline-block;
    right: 10px;
    width: 100px;
    height: auto;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    width: 2rem;
    height: auto;
}

/* Class selectors */

.main-article {
    background-color: var(--light-turq);
}

.sub-article {
    background-color: var(--light-turq);
}